venv/
helpful_code.txt
__pycache__
.coverage
.vscode
app.log
secret_generator.py
/app/routes_example.py
.venv
.env
considerations.txt
/backend/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock
